<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CKEditor</title>
    <style>
        .ck-editor__editable { height: 400px; }
    </style>
</head>
<body>
<h1>CKEditor</h1>
<form action="" method="POST">
    <textarea name="text" id="editor"></textarea>
    <p><input type="submit" value="저장"></p>
</form>
<script src="https://cdn.ckeditor.com/ckeditor5/41.2.1/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create( document.querySelector( '#editor' ), {language: "ko"} );
</script>
</body>
</html>